#contacts-follow-form,
#contacts-search-form {
	display: none;
}

.directory-photo-img.archived {
	opacity: 0.3;
	filter:alpha(opacity=30);
}

.contact-photo-wrapper {
	display: table-cell;
	table-layout: fixed;
	vertical-align: top;
}

.contact-info {
	display: table-cell;
	table-layout: fixed;
	vertical-align: top;
	padding-left: 10px;
}

.contact-info-label {
	font-weight: bold;
}

.connphone {
	color: green;
}

.contact-photo-wrapper .oneway-overlay {
	margin-top: -18px;
	margin-left: 62px;
	font-size: 1.2rem;
	display: inherit; /* this is required for chromium */
}
